<div class="container">
  <div class="col-sm-12" id="dashboard">
        <h1>{{this.title}}</h1>
        <div class="packery" id="widgets-container">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
        </div>
  </div>
</div>
